.range {
    display: flex;
    -webkit-appearance: none;
    width: 50%;
    height: 7px;
    outline: 0;
    border-radius: 3px;
    background-color: #16a085;
}

.range::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 28px;
    height: 28px;
    background-color: #f1c40f;
    border: 2px dotted #e74c3c;
    border-radius: 50%;
}