.someClass {

}

.body {

}

.greeting {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 356px;
    margin-left: 110px;
    margin-bottom: 30px;
}

.wrapper {
    display: flex;
}

.counter {
    text-align: center;
    padding: 4px;
    margin-bottom: 10px;
    width: 30px;
    border: 4px solid;
    border-image: linear-gradient(to right, #16a085, #2ecc71);
    border-image-slice: 1;
    font-weight: bold;
    font-size: 24px;
    color: #f1c40f
}

.error {
    position: absolute;
    color: #e67e22;
    bottom: -20px;
    font-size: 12px;
}

.btn {
    margin: 0;
}

.btn:hover::after {
    right: 470%;
}

.btn::after {
    content: "";
    position: absolute;
    width: 14px;
    height: 5px;
    background: #2c3e50;
    transform: skewX(50deg);
    transition: 1s linear;
}






/*.error {*/
/*    border: 3px solid #ff4757 !important;*/
/*    border-radius: 4px !important;*/
/*    border-bottom: #e74c3c !important;*/
/*    color: #e74c3c;*/
/*    font-size: 36px;*/
/*}*/

/*.input {*/
/*    border: 3px solid #57606f;*/
/*    border-radius: 4px;*/
/*}*/

/*.myButton {*/
/*    box-shadow:inset 0px -3px 7px 0px #29bbff;*/
/*    background:linear-gradient(to bottom, #2dabf9 5%, #487eb0 100%);*/
/*    background-color:#487eb0;*/
/*    border-radius:3px;*/
/*    border:1px solid #0b0e07;*/
/*    display:inline-block;*/
/*    cursor:pointer;*/
/*    color:#ffffff;*/
/*    font-family:Arial;*/
/*    font-size:15px;*/
/*    padding:4px 16px;*/
/*    text-decoration:none;*/
/*    text-shadow:0px 1px 0px #263666;*/
/*}*/
/*.myButton:hover {*/
/*    background:linear-gradient(to bottom, #0688fa 5%, #2dabf9 100%);*/
/*    background-color:#0688fa;*/
/*}*/
/*.myButton:active {*/
/*    position:relative;*/
/*    top:1px;*/
/*}*/

